@font-face {
    font-family: font1;
    src: url('../fonts/GentiumPlusAm-R.ttf')  format('truetype');
    font-weight: normal; font-style: normal; 
}
@font-face {
    font-family: font2;
    src: url('../fonts/icomoon.ttf')  format('truetype');
    font-weight: normal; font-style: normal; 
}

html, body {
font-family: "Gentium Basic";
font-size: 16px;
line-height: 24px;

}

body {
    font-family: "Gentium Basic"; /*font1;*/
    direction: LTR;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 10px;
}




body.single {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
}

body.verse-by-verse {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
}

body.about {
    margin-left: 4%;
    margin-right: 4%;
    color: #000000;
    background-color: #F0F0F0;
}

body.scrpopup {
    margin-left: 4%;
    margin-right: 4%;
    color: #000000;
    background-color: #E0E0E0;
    margin-top: 8px;
}

body.story {
    margin-left: 5%;
    margin-right: 5%;
    color: #000000;
    background-color: #F0F0F0;
    margin-top: 2px;
    margin-bottom: 60px;
}

body.glossary {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4px;
    background-color: #E0E0E0;
}

a:link {
    color: #6C0000;
    font-style: inherit;
    text-decoration: underline;
}

a.verse-link {
    text-decoration: none;
}

a.audio-link {
    text-decoration: underline;
}

a.web-link {
    text-decoration: underline;
}

a.email-link {
    text-decoration: underline;
}

a.tel-link {
    text-decoration: underline;
}

highlighting {
    background-color: #FFFF99;
}

#search-div {
    
    width:100%;
    margin:8px;
}

.search-hidden {
    display: none;
    visibility: hidden;
}

.search-shown {
    visibility: visible;
    display:flex;
}



.search-box {
    height: 36px;

}

.search-result-wrapper {
    margin: 4px;
    margin-left:1.25em;
    display:grid;
    grid-template-columns: 15% 85%;
}

.serach-results-a {
    grid-column: 1;
    text-align: center;
}

.search-results-text {
    margin-left:8px;
    grid-column: 2;
}

.chapter-number-audio-wrapper {
    margin-top: 1em;
    padding-top:1em;
}


.chapter-number-audio-wrapper > button {
    font-size: 0.75em;
    margin-left: 8px;
    border: 2px solid black;
}

div.c, span.c {
    text-align: left;
    color: #6C0000;
    font-size: 175%;
    font-weight: bold;
    vertical-align: middle;
}

div.c-drop {
    float: left;
    position: relative;
    padding-right: 0.3em;
    text-indent: 0;
    color: #6C0000;
    font-size: 150%;
    font-weight: bold;
    font-style: normal;
}

div.cl {
    text-align: center;
    color: #6C0000;
    font-size: 130%;
    font-weight: bold;
    margin-top: 0.5em;
}

span.v {
    color: #D32F2F;
    font-size: 70%;
    position: relative;
    bottom: 0.3em;
    line-height: normal;
    margin-right:2px;
}

span.vsp {
    font-size: 50%;
    line-height: normal;
}

span.va {
    color: #D32F2F;
    font-style: italic;
    font-size: 70%;
    position: relative;
    bottom: 0.3em;
    line-height: normal;
}

span.ayah {
    font-size: 100%;
    bottom: 0em;
}

div.s, div.s1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 2px;
    color: #6C0000;
    font-weight: bold;
    font-size: 120%;
    page-break-after: avoid;
    font-variant: small-caps;
}

div.s2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 2px;
    color: #6C0000;
    font-weight: bold;
    font-size: 110%;
    page-break-after: avoid;
    font-style: normal;
}

div.ms {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 8px;
    color: #6C0000;
    font-weight: bold;
    font-size: 120%;
    page-break-after: avoid;
}

div.ms2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 8px;
    color: #6C0000;
    font-weight: bold;
    font-size: 110%;
    page-break-after: avoid;
}

div.r {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 2px;
    font-style: italic;
    font-size: 90%;
    page-break-after: avoid;
}

div.r a {
    color: #000000;
}

div.s + div.r {
    padding-top: 0px;
}

div.s2 + div.r {
    padding-top: 0px;
}

div.sr {
    text-align: center;
    padding-bottom: 2px;
    font-style: italic;
    font-size: 90%;
}

div.mr {
    text-align: center;
    font-style: italic;
}

span.rq {
    font-style: italic;
}

div.d {
    text-align: center;
    font-style: italic;
}

div.sp {
    padding-top: 15px;
    font-style: italic;
}

div.mt, div.mt1 {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 150%;
    page-break-after: avoid;
}

div.mt2 {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 110%;
    page-break-after: avoid;
}

div.mt3 {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 100%;
    page-break-after: avoid;
}

div.mt4 {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 90%;
    page-break-after: avoid;
}

div.mte {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 150%;
}

div.mte2 {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 110%;
}

div.mte3 {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 100%;
}

div.p {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 3%;
}

div.m {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 0;
}

div.po {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 0;
}

div.cls {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 0;
    text-align: right;
}

div.pc {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 0;
    text-align: center;
}

div.pmo {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12px;
    text-indent: 0;
}

div.pm {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12px;
    text-indent: 0;
}

div.pmc {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12px;
    text-indent: 0;
}

div.pmr {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 6px;
    text-indent: 0;
    text-align: right;
}

div.pr {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 0;
    text-align: right;
}

div.pi {
    padding-left: 8%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 3%;
}

div.pi2 {
    padding-left: 10%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 3%;
}

div.mi {
    padding-left: 8%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 0;
}

div.lit {
    text-align: right;
}

div.q {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -15%;
}

div.q-v {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -18%;
}

div.q-vv {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -19%;
}

div.q2 {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -8%;
}

div.q2-v {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -11%;
}

div.q2-vv {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -13%;
}

div.q3 {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -5%;
}

div.q3-v {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -8%;
}

div.q3-vv {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -10%;
}

div.q4 {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -2%;
}

div.q4-v {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -5%;
}

div.q4-vv {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -7%;
}

div.qc {
    text-align: center;
    font-style: italic;
}

div.qr {
    text-align: right;
}

div.qm {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -8%;
}

div.qm2 {
    padding-left: 20%;
    padding-right: 2%;
    text-indent: -5%;
}

div.qa {
    padding-top: 16px;
    padding-bottom: 3px;
    text-align: center;
    font-style: italic;
}

div.qd {
    font-style: italic;
}

span.qs {
    font-style: italic;
    text-align: right;
    display: block;
}

span.qac {
    font-weight: bold;
    font-style: italic;
}

div.b {
    padding-top: 0px;
    line-height: 60%;
}

div.sd {
    padding-top: 1em;
}

div.sd2 {
    padding-top: 2em;
}

div.top-spacing {
    padding-top: 12px;
}

div.lh {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 3%;
}

div.li {
    padding-left: 20%;
    text-indent: -15%;
}

div.li-v {
    padding-left: 20%;
    text-indent: -18%;
}

div.li-vv {
    padding-left: 20%;
    text-indent: -19%;
}

div.li2 {
    padding-left: 20%;
    text-indent: -8%;
}

div.li2-v {
    padding-left: 20%;
    text-indent: -11%;
}

div.li2-vv {
    padding-left: 20%;
    text-indent: -13%;
}

div.li3 {
    padding-left: 12%;
}

div.lf {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 0;
}

span.add {
    font-style: italic;
}

span.bk {
    font-style: italic;
}

span.dc {
    font-style: italic;
}

span.lit {
    font-weight: bold;
}

span.nd {
    font-variant: small-caps;
	white-space: nowrap;
}

span.nd2 {
    font-variant: small-caps;
    vertical-align: sub;
    font-weight: bold;   
    font-size: 60%;
	margin-left: -0.3em;
}

span.ord {
    font-size: 70%;
    position: relative;
    top: -0.4em;
}

span.pn {
    font-style: italic;
}

span.png {
    text-decoration: underline;
}

span.qt {
    font-style: italic;
}

span.sig {
    font-style: italic;
}

span.sls {
    font-style: italic;
}

span.tl {
    font-style: italic;
}

span.k {
    font-weight: bold;
}

span.vp {
    color: #D32F2F;
    font-size: 80%;
}

span.wg {
}

span.wh {
}

span.wa {
}

span.em {
    font-style: italic;
}

span.bd {
    font-weight: bold;
}

span.it {
    font-style: italic;
}

span.bdit {
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    vertical-align: bottom;
    font-size: 60%;
}

span.ul {
    text-decoration: none;
    vertical-align: top;
    font-size: 60%;
}

span.sc {
    font-variant: small-caps;
}

span.no {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

span.fr {
    font-weight: bold;
}

span.fk {
    font-weight: bold;
}

span.fq {
    font-style: italic;
}

span.fqa {
    font-style: italic;
}

span.fl {
    font-style: italic;
}

span.fv {
    color: #D32F2F;
    font-size: 70%;
    font-style: normal;
    position: relative;
    top: -0.4em;
}

span.fw {
    font-style: normal;
}

body.footnote {
    margin-left: 4%;
    margin-right: 4%;
    background-color: #E0E0E0;
}


span.glossary {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: green;
}

span.footnote {
    color: navy;
    font-weight: bold;
}

span.fnspan {
	margin-left: -0.2em;
	display: inline-block;	
}

span.glospan {
	margin-left: 0em;
}

span.xo {
    font-weight: bold;
}

span.xk {
    font-weight: bold;
}

span.xta {
    font-style: normal;
}

body.crossref {
    margin-left: 4%;
    margin-right: 4%;
    background-color: #E0E0E0;
}

span.image {
}

div.image-block {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.caption {
    text-align: center;
    padding-top: 6px;
}

span.caption {
    font-style: italic;
    font-size: 90%;
}

div.video-block {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #E0E0E0;
}

span.video-title {
    font-size: 90%;
}

div.video-title {
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

div.about-image-block {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

img.about-image {
    width: 50%;
}

div.is {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 2px;
    color: #6C0000;
    font-weight: bold;
    font-size: 110%;
    page-break-after: avoid;
}

div.is2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 2px;
    color: #6C0000;
    font-weight: bold;
    font-size: 110%;
    page-break-after: avoid;
}

div.imt {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 130%;
    page-break-after: avoid;
}

div.imt2 {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 130%;
    page-break-after: avoid;
}

div.imte {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 130%;
}

div.imte2 {
    text-align: center;
    color: #6C0000;
    font-weight: bold;
    font-size: 130%;
}


div.iot {
    text-align: left;
    color: #6C0000;
    font-weight: bold;
}

span.ior {
    font-style: italic;
}

div.io {
    padding-left: 4%;
}

div.io2 {
    padding-left: 6%;
}

div.io3 {
    padding-left: 8%;
}

div.iex {
    padding-top: 12px;
    font-style: italic;
}

div.ip {
    padding-top: 12px;
    text-indent: 3%;
}

div.ipi {
    padding-left: 8%;
    padding-right: 0%;
    padding-top: 12px;
    text-indent: 3%;
}

div.ipr {
    padding-top: 12px;
    text-align: right;
}

div.im {
    padding-top: 12px;
    text-indent: 0;
}

div.ili {
    padding-top: 8px;
    padding-left: 20%;
    text-indent: -15%;
}

div.ili2 {
    padding-top: 8px;
    padding-left: 20%;
    text-indent: -8%;
}

div.ili3 {
    padding-top: 8px;
    padding-left: 12%;
}

div.iq {
    padding-left: 5%;
    padding-top: 12px;
    padding-right: 2%;
}

div.ib {
    padding-top: 0px;
    line-height: 60%;
}

table {
    font-size: 90%;
}

td.th1 {
    text-align: left;
    font-style: italic;
}

td.th2 {
    text-align: left;
    font-style: italic;
}

td.th3 {
    text-align: left;
    font-style: italic;
}

td.th4 {
    text-align: left;
    font-style: italic;
}

td.th5 {
    text-align: left;
    font-style: italic;
}

td.th6 {
    text-align: left;
    font-style: italic;
}

td.thr1 {
    text-align: right;
    font-style: italic;
}

td.thr2 {
    text-align: right;
    font-style: italic;
}

td.thr3 {
    text-align: right;
    font-style: italic;
}

td.thr4 {
    text-align: right;
    font-style: italic;
}

td.thr5 {
    text-align: right;
    font-style: italic;
}

td.thr6 {
    text-align: right;
    font-style: italic;
}

td.tc1 {
    text-align: left;
}

td.tc2 {
    text-align: left;
}

td.tc3 {
    text-align: left;
}

td.tc4 {
    text-align: left;
}

td.tc5 {
    text-align: left;
}

td.tc6 {
    text-align: left;
}

td.tcr1 {
    text-align: right;
}

td.tcr2 {
    text-align: right;
}

td.tcr3 {
    text-align: right;
}

td.tcr4 {
    text-align: right;
}

td.tcr5 {
    text-align: right;
}

td.tcr6 {
    text-align: right;
}

div.hlp1 {
    background-color: #FFFFCC;
    color: #000000;
}

div.hlp2 {
    background-color: #D6FFEA;
    color: #000000;
}

div.hlp3 {
    background-color: #B8FBF9;
    color: #000000;
}

div.hlp4 {
    background-color: #FFE6BC;
    color: #000000;
}

div.hlp5 {
    background-color: #FFD6FF;
    color: #000000;
}

div.footer {
    margin-top: 1.5em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #E0E0E0;
    direction: LTR;
}

div.footer-line {
}

span.footer {
    font-size: 80%;
    font-family: font1;
}

div.footer-pane2 {
    background-color: #D0D0D0;
}

span.ref {
    color: #6C0000;
    font-weight: bold;
    font-size: 90%;
}

span.notinapp {
    font-weight: normal;
    color:#000000;
    
    font-size: 90%;
}

span.reflink {
    white-space: nowrap;
	text-decoration: underline;
	color: navy;
}

span.reflink span {
	

}

span.reflink:hover {
		background-color: #EEEEEE;
}

body.contents {
    font-size: 20px;
    margin-left: 1%;
    margin-right: 3%;
    background-color: #F4F4F4;
}

